block ConfigBlock
  - pageId = 'page-common'
  - title = page_name ? [page_name, site_name].join(' | ') : site_name

doctype html
html
  head
    meta(charset="utf-8")

    // ogp
    if facebook_app_id
      meta(property="fb:app_id", content=facebook_app_id)
    if url
      meta(property="og:url", content=url)
    if ogp_image_url
      meta(property="og:image", content=ogp_image_url)
    if ogp_image_width
      meta(property="og:image:width", content=ogp_image_width)
    if ogp_image_height
      meta(property="og:image:height", content=ogp_image_height)
    meta(property="og:type", content=ogp_type || "website")
    meta(property="og:title", content=title)
    meta(property="og:site_name", content=site_name)
    meta(property="og:description", content=description)
    meta(property="og:locale", content=ogp_locale || "ja_JP")

  body
